!*.sln
*.json
plants_vs_zombie/cocos2d/
plants_vs_zombie/proj.android/
plants_vs_zombie/proj.ios_mac/
plants_vs_zombie/proj.linux/
*.cmake
*.ttf
*.png
*.ico
*.filters
*.rc
*.vcxproj
plants_vs_zombie/Resources/res/.gitkeep
*.user
plants_vs_zombie/CMakeLists.txt
*.vsidx
*.lock
*.db
*.res
*.dll
*.lib
*.obj
*.pdb
*.log
*.exp
*.tlog
*.ilk
*.idb
*.recipe
plants_vs_zombie/proj.win32/.vs/plants_vs_zombie/v17/.suo
*.bin
plants_vs_zombie/proj.win32/Debug.win32/Resources/res/.gitkeep
*.txt
*.exe
